@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF7525;
  --secondary: #2E2E2E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  body, * {
    font-family: 'Inter', 'IBM Plex Sans Thai', sans-serif !important;
  }
}

/* Custom ant design component styles */

.btn-primary {
  @apply bg-primary! text-white! border-0!;
}

.btn-secondary {
  @apply bg-secondary! text-white! border-0!;
}

.btn-success {
  @apply bg-green-500! text-white! border-0!;
}

.btn-danger {
  @apply bg-red-500! text-white! border-0!;
}

.btn-warning {
  @apply bg-yellow-500! text-white! border-0!;
}